################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestLabo/.vs/TestLabo/v16
/.vs/EjemploLabo/v16
/.vs
/TestLabo/.vs/TestLabo/v15
